h1 {
    text-align: center;
    font-size: 90px;
}

h2 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

body {
    background-color: lightcyan;
    font-family: 'Caveat', cursive;
    color: tomato;
}

li {
    font-size: 30px;
}

.container {
    display: flex;
    background: lightblue;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.item {
    width: 180px;
    height: 100px;
    background: lightblue;
    border: 8px solid darkcyan;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container2 {
    display: flex;
    background: lightblue;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .item2 {
    width: 500px;
    height: 500px;
    background: lightblue;
    border: 8px solid darkcyan;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

button {
    border: none;
    background: none;
    color: darkcyan;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
    font-family: 'Caveat', cursive;
    text-align: left;
    text-decoration: none;
  }

button:hover{
    color: #ff7a59;
    border: #ff7a59 solid 1px;
    background:white;
    font-size: 35px;
  }
  