header {
    background-color: black;
    padding: 10px;
    padding-top: 50px;
}

h2 {
    color: white; 
    font-size: 80px;
    line-height: 5px;
    font-family: 'Noto Serif Display', serif;
}

h3 {
    color: white;
    font-size: 30px;
    font-family: 'Noto Serif Display', serif;
}

h4 {
    color: black;
    font-size: 15px;
    font-family: 'Noto Serif Display', serif;
}

body {
    background-color: whitesmoke;
    color: darkcyan;
    text-align: center;
    font-size: 20px;
    font-family: 'Noto Serif Display', serif;
}

.wrapper {
    border: 1px;
    border-radius: 10px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 2em;
    padding: 50px;
    margin: 10px;
    justify-items: center;
  } 

img {
      max-width: 100%;
      max-height: 100%;
  }
  
.box1 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    max-width: fit-content;
    max-height: fit-content;
}  

.img_description {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: white;
    color: black;
    visibility: hidden;
    opacity: 0;
    display: block;
    font-size: 30px;
    padding: 10px;
    padding-top: 90px;
    font-family: 'Permanent Marker', cursive;


    transition: opacity .2s, visibility .2s;
}

.box1:hover .img_description {
    visibility: visible;
    opacity: .75;
  }

.box2 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    max-width: fit-content;
    max-height: fit-content;
} 
.box2:hover .img_description {
    visibility: visible;
    opacity: .75;
  }

.box3 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    max-width: fit-content;
    max-height: fit-content;
} 
.box3:hover .img_description {
    visibility: visible;
    opacity: .75;
  }

.box4 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    max-width: fit-content;
    max-height: fit-content;
} 
.box4:hover .img_description {
    visibility: visible;
    opacity: .75;
  }

.box5 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    max-width: fit-content;
    max-height: fit-content;
} 
.box5:hover .img_description {
    visibility: visible;
    opacity: .75;
  }

.box6 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    max-width: fit-content;
    max-height: fit-content;
} 
.box6:hover .img_description {
    visibility: visible;
    opacity: .75;
  }

.box7 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    max-width: fit-content;
    max-height: fit-content;
} 
.box7:hover .img_description {
    visibility: visible;
    opacity: .75;
  }

.box8 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    max-width: fit-content;
    max-height: fit-content;
} 
.box8:hover .img_description {
    visibility: visible;
    opacity: .75;
  }

.box9 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    max-width: fit-content;
    max-height: fit-content;
} 
.box9:hover .img_description {
    visibility: visible;
    opacity: .75;
  }

.box10 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    max-width: fit-content;
    max-height: fit-content;
} 
.box10:hover .img_description {
    visibility: visible;
    opacity: .75;
  }

.box11 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    max-width: fit-content;
    max-height: fit-content;
} 
.box11:hover .img_description {
    visibility: visible;
    opacity: .75;
  }

.box12 {
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    max-width: fit-content;
    max-height: fit-content;
} 
.box12:hover .img_description {
    visibility: visible;
    opacity: .75;
  }

