body {
    background-color: whitesmoke;
    padding: 20px;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 50%; 
    width: 100%; 
    padding: 10px;
}

main { 
    display: flex;
    padding: 5px;
}

h1 {
    font-size: 70px;
    width: 100%;
    text-align: center;
    line-height: 60px;
}

h3 {
    font-size: 20px;
    width: 100%;
    text-align: center;
    line-height: 20px;
}

h2 {
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.filters {
    text-align: center;
    padding: 5px;
    font-size: 35px;
}

.img {
    display: flex; 
}

.filter-btn {
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
}