/*mobile first*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%
}

body {
    background: papayawhip;
    font-family: 'Bebas Neue', cursive;
    height: 100%;
}

header, footer, main {
    padding: 20px;
    border: 1px solid black; 
    color: #141414;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

header, footer {
    line-height: 60px;
}

main {
    flex: 1;
}

p {
    line-height: 1.68em;
}
.pullquote {
    color: tomato;
    font-style: italic;
    font-size: 1.68em;
    line-height: 1.4em;
    padding: 15px 0;
}
.image img {
    height: 260px;
    object-fit: cover;
    object-position: 0% 40%;
}

nav {
    height: 60px;
  }

  ul.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    
    list-style: none;
    background: tomato;
    margin: 0;
    line-height: 60px;
  }
  
  .container a {
    text-decoration: none;
    color: #F4F4F4;
  }
  
  li {
    padding: 0 40px;
  }
  
  li:hover {
    animation: navLinkColor 5s ease-in-out .2s;
    /* animation: navLinkColor; */
  } 

  @keyframes navLinkColor {
    0% {
      background: tomato;
    }
    40% {
      background: #CC0000;
    }
    60% {
      background: #800000;
    }
    100% {
      background: #000000;
    }
  }


/*desktop media query*/

@media (min-width: 960px) {
    
    .flex-container {
        height: 100%;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    .image img {
        height: 560px;
        width: 100%;
    }
    .column {
        width: 50%;
        display: flex;
        flex-direction: column;

    }
}