h2, h3 {
    color: tomato; 
    font-size: 50px;
    line-height: 30px;
}

body {
    background-color: rgb(187, 187, 187);
    font-family:'Titillium Web', sans-serif;
    color: darkcyan; 
}

.pullquote {
    font-size: 30px;
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    margin: 25px;
    justify-content: space-between;
}

.left {
    background-color: white;
    width: 45%;
    border: 6px solid darkcyan;
}

.right {
    background-color: white;
    width: 45%;
    border: 6px solid darkcyan;
}

section {
    padding: 30px;
}

button {
    border: none;
    background: white;
    color: darkcyan;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
    font-family:'Titillium Web', sans-serif;
    text-align: left;
  }

button:hover{
    color: #ff7a59;
    border: #ff7a59 solid 1px;
    background:white;
    font-size: 20px;
  }